<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Sporty Shoes</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" 
crossorigin="anonymous">
</script>
</head>
<body>

	<h1>Admin Sporty Shoes </h1>
	
	<a href="/category">List of All categories</a><br>
	<a href="/newCategory">Add category</a><br>
	<a href="/product">List of All products</a><br>
	<a href="/newProduct">Add new product</a><br>
	<a href="/users">List of Users</a>
	
	
</body>
</html>