<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Category Detail</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" 
crossorigin="anonymous">
</script>
</head>
<body>
	<div class="container">
		<h1>Category detail</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">NAME</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row" th:text="${category.id}">#</th>
					<td th:text="${category.name}">Football</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>